src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="apix-generic-db-sapi-main">
        <http:listener path="/api/*" config-ref="${api.listenerConfig}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiRouter" />
    </flow>
    <flow name="apix-generic-db-sapi-console">
        <http:listener path="/console/*" config-ref="${api.listenerConfig}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiRouter" />
    </flow>
    <flow name="put:\employee\(employeeId):application\json:apiRouter">
        <flow-ref doc:name="updating-employee-details" doc:id="fdbc6511-a04f-4da2-be37-8b491f5d00d9" name="updating-employee-details" />
    </flow>
    <flow name="delete:\employee\(employeeId):application\json:apiRouter">
        <flow-ref doc:name="deleting-user-from-employee-table" doc:id="80da0630-1c54-4df7-b0ae-61da35932408" name="deleting-user-from-employee-table" />
    </flow>
    <flow name="get:\employee:apiRouter">
        <flow-ref doc:name="getting-all-user-details" doc:id="cb8da0f7-45c0-4866-abd9-65e4624cc6e7" name="getting-all-user-details" />
    </flow>
    <flow name="get:\employee\(employeeId):apiRouter">
        <flow-ref doc:name="getting-user-by-employee-id" doc:id="3c06d7ba-66d4-45fe-aaa1-3e2d973a8d60" name="getting-user-by-employee-id" />
    </flow>
    <flow name="post:\employee:application\json:apiRouter">
        <flow-ref doc:name="user-creation" doc:id="1c3873d9-7bfc-44d1-9dd3-6a83b36aefde" name="user-creation" />
    </flow>
</mule>
